{
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=.\\SQLEXPRESS; Initial Catalog=StudentIN; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.City",
                    "Identifier": "City",
                    "Module": "GeneralDefinitions",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Class",
                    "Identifier": "Class",
                    "Module": "GeneralDefinitions",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Consultant",
                    "Identifier": "Consultant",
                    "Module": "GeneralDefinitions",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Department",
                    "Identifier": "Department",
                    "Module": "GeneralDefinitions",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Occupation",
                    "Identifier": "Occupation",
                    "Module": "GeneralDefinitions",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.PaymentType",
                    "Identifier": "PaymentType",
                    "Module": "GeneralDefinitions",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.RecordState",
                    "Identifier": "RecordState",
                    "Module": "GeneralDefinitions",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Relative",
                    "Identifier": "Relative",
                    "Module": "GeneralDefinitions",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.SchoolGroup",
                    "Identifier": "SchoolGroup",
                    "Module": "GeneralDefinitions",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.School",
                    "Identifier": "School",
                    "Module": "GeneralDefinitions",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Section",
                    "Identifier": "Section",
                    "Module": "GeneralDefinitions",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Student",
                    "Identifier": "Student",
                    "Module": "StudentMain",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Payment",
                    "Identifier": "Payment",
                    "Module": "StudentMain",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.PaymentInstallment",
                    "Identifier": "PaymentInstallment",
                    "Module": "StudentMain",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.InvoiceInformation",
                    "Identifier": "InvoiceInformation",
                    "Module": "StudentMain",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.StudentDiscount",
                    "Identifier": "StudentDiscount",
                    "Module": "StudentMain",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                }
            ]
        },
        {
            "Key": "Northwind",
            "ConnectionString": "Data Source=.\\SQLEXPRESS;Initial Catalog=StudentIN_Northwind_v1;Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "WebProjectFile": "..\\..\\..\\StudentIN\\StudentIN.Web\\StudentIN.Web.csproj",
    "ScriptProjectFile": "..\\..\\..\\StudentIN\\StudentIN.Script\\StudentIN.Script.csproj",
    "RootNamespace": "StudentIN",
    "BaseRowClasses": [],
    "RemoveForeignFields": []
}