
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.GeneralDefinitions.RecordState.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new StudentIN.GeneralDefinitions.RecordStateGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>