
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.GeneralDefinitions.Occupation.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new StudentIN.GeneralDefinitions.OccupationGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>