
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.StudentMain.Student.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new StudentIN.StudentMain.StudentGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>